<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pulse</title>
  </head>
  <body>

    <h1> Hi </h1>

    <form action="/" enctype="multipart/form-data" method="post">
      <input type="text" name="title">
      <input type="file" name="upload">
        <input type="submit" value="Upload">
    </form>


  </body>

</html>